<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linear.app.bel.classlayout">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AmbilDataDariInternetActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScoreActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".Segitiga" />
        <activity android:name=".AwalBangunRuang" />
        <activity android:name=".SharedPreference" />
        <activity android:name=".KonversiMataUang" />
        <activity android:name=".RecyclerActivity" />
        <activity android:name=".RadioGroupActivity" />
        <activity android:name=".RecyclerActivity2" />
        <activity android:name=".SpinnerActivity"/>
    </application>

</manifest>